package templates

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title></title>
			<script src="/static/lib/htmx.min.js"></script>
			<script src="/static/lib/tailwindcss@4.min.js"></script>
		</head>
		<body>
			<h1 class="bg-sky-500 hover:bg-sky-700">HELLO WORLD TEMPL</h1>
		</body>
	</html>
}
